.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "following followers posts";
  }
  .following { 
      grid-area: following;
       }
  .followers { 
      grid-area: followers;
      
 }
  .posts { 
      grid-area: posts;
      
    
    }
.P1{
    padding:2%;
}

.fBR{
    display:flex;
    flex-direction: row;
}

.hover:hover{
    color:white;
}

.Mr-4{
    margin-right: 4%;
}

.avter-img{
    width:100%;
    height: auto;
    object-fit:cover;

}

.Icons{
    display:flex;
    flex-direction:row;
}
.vl {
    border-left: 1px solid black;
    height: auto;
  }
.Icon{
}
.M2{
    margin: 0 3% 0 3%;
    font-size:2.0rem;
    
}

.card1{
    width:auto;
    height: 10%;
    border-radius: 15px;
    margin: 2%;
}
.link3{
    text-decoration: none;
    color:#212529;
}

img-AV{
    width:100px;
    height:100px;
    border-radius: 150px;
}
@media only screen and (max-width: 550px) {
 .avter-img{
    width:50%;
    height: auto;
    object-fit:cover;
   
}   

.M2{
    margin: 0 3% 0 3%;
    font-size:1.0rem;
    
}

}

/* //table */
@media only screen and (min-width: 768px) {
    .avter-img{
        width:30%;
        height: auto;
        object-fit:cover;
        
    }
    .M2{
        margin: 0 3% 0 3%;
        font-size:1.5rem;
        
    }   
}

@media only screen and (min-width: 1440px) {
     
}

@media only screen and (min-width: 2400px) {
    
}
@media only screen and (min-width: 3200px) {
    
}

@media only screen and (min-width: 3800px) {
   

}