.modal2{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    z-index:10;
}

@media only screen and (max-width: 550px) {
    .modal2{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        z-index:10;
    }
}

/* //table */
@media only screen and (min-width: 768px) {
    .modal2{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        z-index:10;
    }
}

@media only screen and (min-width: 1440px) {
    .modal2{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        z-index:10;
    }
}

@media only screen and (min-width: 2400px) {
    .modal2{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        z-index:10;
    }
}
@media only screen and (min-width: 3200px) {
    .modal2{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        z-index:10;
    }
}

@media only screen and (min-width: 3800px) {
    .modal2{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        z-index:10;
    }

}